.divider {
  display: none;
}

@media (max-width: 767px) {
  .divider {
    display: block;
    width: 100%;
    height: clamp(210px, 55vw, 260px);
    margin-top: 22px;
    margin-bottom: 22px;
    border-radius: 28px;
    overflow: hidden;
    background-image: url("/images/hero/hero-logo-mob.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
